html,body {
    background-image: url('pictures/pattern.svg');
    min-width:760px;
    overflow: hide;
    background-repeat: none;
}

#name {
    text-align: center;
    font-family: "Helvetica",Sans-Serif;
    font-size: 5vw;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid white .8vw;
}

#links {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10vw;
    display: flex;
    min-width: 7em;
}

.icon {
    width: 100%;
}

.icon a {
    width: 100%;
    flex: 1;
}
.icon img {
    width: 80%;
}


